.navbar{
    background-color:  #f5f0f4 !important;
}
.nav-link{
    color:  rgb(106, 35, 116) !important;
}
.nav-link:hover{
    color: rgb(119, 117, 241) !important;
}
.fa-user-circle{
    font-size: 32px !important;
    margin-bottom: 10px !important;
}
.fa-truck{
    font-size:40px !important;
    margin-right: 10px !important;
    color: rgb(106, 35, 116);
}
.fa-hourglass-half{
    font-size: 30px !important;
    margin-right:10px !important;
    color:rgb(106, 35, 116);
}
.fa-thumbs-up{
    font-size:35px !important;
    margin-right: 10px !important;
    color:rgb(106, 35, 116);
}
.fa-arrow-circle-up{
    font-size:35px !important;
    margin-right: 10px !important;
    color:rgb(106, 35, 116);
}
h3{
    color:rgb(106, 35, 116);
}
.card1, .card2, .card3{
    display:flex !important;
    width:300px;
    height:100px;
    background-color: #fff;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top:10px;

}
.mainCard{
    margin-top: 30px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    flex-wrap: wrap;
}
@media screen and (max-width:600px){
    .card1, .card2, .card3{
        width:100%;
    }

}
.newArrival{
    margin-top:50px !important;
    display: flex !important;
    justify-content: space-around !important;
}
.card{
    width:250px !important;
    height: auto !important;
    margin:10px !important;
}
.card-text{
    font-weight: bold;
}
.btn-primary{
    background-color:rgb(106, 35, 116);
} 
#bookOnline{
    padding-top: 30px !important;
    margin: 10px !important;
    color: rgb(106, 35, 116);
    text-align: center;
    font-weight: bold;
}
#bookOnline > h2{
text-shadow: 2px 2px 4px black;
}
.mycol > h2{
    text-align: center;
    margin:10px;
    color: rgb(106, 35, 116);
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}
.mycols img{
    padding:15px;
 border: auto solid grey;
}
.full-footer{
    background-color: rgb(106, 35, 116);
}
.fa-facebook-official,.fa-envelope-o,.fa-twitter{
    font-size:23px !important;
    color: white;
    margin-left: 5px;
}
.colss a{
    font-size: small !important;
    color: #fff;
}
.col3 a{
    font-size: small !important;
    color: #fff;
}
.col4 a{
    font-size: small !important;
    color: #fff;  
}
.col4 iframe{
    width:250px !important;
    height:150px;
    margin-bottom: 10px;
}
.bottom-footer{
    background-color: rgb(28, 6, 31) !important;
}
.bottom-footer p{
    font-size: small !important;
    text-align: center;
    color: #fff;
}
.btn-primary{
  background-color:rgb(106, 35, 116) !important;
}
/* Login Page */
#main-wrapper{
    width:700px;
    margin-top:20px;
    margin-bottom: 20px;
    background:white;
    padding:5px;
    border-radius:10px;
    border: 2px solid #778ca3;
}
.user{
    font-size:60px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.my-form{
    width: 500px;
    margin:0 auto;
}
.inputvalues{
    width:100%;
    margin:0 auto;
    padding:5px;
}
#login-btn{
    margin-top: 10px;
    background-color: rgb(106, 35, 116);
    padding:5px;
    color:white;
    width:100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
/*
#register-btn{
    margin-bottom: 20px;
    margin-top:10px;
    background-color:#5758BB;
    padding:5px;
    color:white;
    width:100%;
    font-size: 18px;
    font-weight: bold;
}*/
